.dashboard {
  .classTable {
    text-align: center;
    border: none;
    margin-top: 20px;

    th {
      border-top: 1px solid #DDD !important;
      text-align: center;

      &:first-of-type {
        border: none !important;
      }
    }

    td {
      width: 12.5%;
    }
  }
}
